.swiper_supervisores {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.8rem;
}
.swiper_supervisores .swiper-wrapper {
  height: auto;
}
.swiper_supervisores .swiper-wrapper .swiper-slide {
  height: auto;
  background: #ffffff;
  border-radius: 50px;
  border-radius: 50px;
  transition: all 200ms linear;
  transform: scale(0.7);
  opacity: 0.5;
  margin-bottom: 4rem;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
}
.swiper_supervisores .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .swiper_supervisores .swiper-wrapper .swiper-slide {
    width: 80%;
  }
}
.swiper_supervisores .swiper-wrapper .swiper-slide .link_ul {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}
.swiper_supervisores .swiper-wrapper .swiper-slide .h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #230d66;
  text-align: center;
  margin-bottom: 1rem;
}
.swiper_supervisores .swiper-wrapper .swiper-slide .icono {
  font-size: 4rem;
  color: #230d66;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.swiper_supervisores .swiper-wrapper .swiper-slide .icono i {
  padding: 1.5rem;
  border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 5px 5px 7px #d9d9d9, inset -5px -5px 7px #ffffff;
  align-self: center;
  color: #230d66;
  margin-bottom: 1.7rem;
}

.contacto_supervisores {
  padding-left: 3.5rem;
  padding-bottom: 3rem;
  padding-right: 2.5rem;
  word-wrap: break-word;
}

.section1 {
  height: auto;
  min-height: 70vh;
  margin-bottom: 2rem;
  background-color: rgba(229, 124, 21, 0.3);
  padding-bottom: 1rem;
}
.section1 .div_home {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem 0;
  margin-bottom: 3rem;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .section1 .div_home {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.section1 .div_home .div_home--info {
  display: flex;
  flex-direction: column;
}
.section1 .div_home .img_home {
  justify-self: center !important;
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .section1 .div_home .img_home {
    display: none;
  }
}

.p_home {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #656464;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .p_home {
    margin-bottom: 3rem;
  }
}

.link_home {
  font-weight: 500;
  text-decoration: none;
  color: #656464;
}

.h1 {
  color: #e57c15;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  z-index: 1;
  width: 100%;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .h1 {
    font-size: 10vw;
    padding: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .h1 {
    font-size: 6.3vw;
  }
}

.section2, .section3 {
  padding: 2rem 3rem;
}

.section2 {
  padding-bottom: 2rem;
}

.section3 {
  padding-bottom: 4rem;
}

.h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 3.5rem;
  color: #230d66;
  margin-bottom: 3.5rem;
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .h2 {
    margin-bottom: 3.5rem;
    font-size: 3.7rem;
  }
}

.p_normal {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: black;
  margin-bottom: 1.5rem;
}
.p_normal strong {
  font-weight: 500;
}

.ul_normal {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: black;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.ul_normal li {
  margin-bottom: 0.7rem;
}

.formaciones {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .formaciones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.formaciones .formaciones_oficiales {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .formaciones .formaciones_oficiales {
    width: 80%;
    justify-content: center;
    align-items: center;
  }
}
.formaciones .formaciones_oficiales img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .formaciones .formaciones_oficiales img {
    max-height: 15vh;
  }
}

.sombra_blanca {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 7px 7px 27px #bfbfbf, -7px -7px 27px #ffffff;
  padding: 3rem;
  margin-bottom: 3rem;
}

.div_section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_section2 iframe {
  border: 10px solid #230d66;
  border-radius: 25px;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(148, 148, 155, 0.1);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.navbar .navbar_links .links {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  height: 100%;
}
.navbar .navbar_links .links .link_nav {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  color: #e57c15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0 6px;
  white-space: nowrap;
  text-align: center;
}
.navbar .navbar_links .links .link_nav .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #e57c15;
  transition: all 0.3s ease;
}
.navbar .navbar_links .links .link_nav .link_nav--drop {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}
.navbar .navbar_links .links .link_registro {
  background-color: #e57c15;
  color: white;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link_registro--mobile {
  background-color: #e57c15;
  color: white;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: none;
}

.links li:hover .inst-arrow,
.links li:hover .socios-arrow,
.links li:hover .biblio-arrow {
  transform: rotate(180deg);
}

.link_nav .submenu {
  position: absolute;
  top: 70px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(148, 148, 155, 0.1);
  border-radius: 0 0 10px 10px;
  display: none;
  z-index: 2;
  list-style: none;
  transition: all 0.3s ease;
}
.link_nav .submenu li {
  padding: 0 1.2rem;
  border-bottom: 1px solid rgba(229, 124, 21, 0.1);
}

.link_nav--drop {
  color: rgba(229, 124, 21, 0.9);
}

.links li:hover .socios-submenu,
.links li:hover .inst-submenu,
.links li:hover .biblio-submenu {
  display: block;
}

.sidenav_logo {
  display: none;
}

.menu_icon {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  nav .navbar {
    padding: 0 25px;
  }
  .logo_inicio {
    display: none;
  }
  .sidenav_logo {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .sidenav_logo a {
    display: flex;
    align-items: center;
  }
  .sidenav_logo .cerrar {
    font-size: 2rem;
    color: #e57c15;
  }
  .menu_icon {
    display: inline-block !important;
    font-size: 2.7rem;
    color: #e57c15;
  }
  .link_registro--mobile {
    display: inline-block;
  }
  .link_registro {
    display: none;
  }
  .link_nav {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    padding-left: 0;
    margin-left: 0;
    text-align: left !important;
  }
  .navbar_links {
    position: fixed;
    top: 0px;
    left: -100%;
    display: block;
    max-width: 300px;
    width: 49%;
    height: 100%;
    background-color: #ffffff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(148, 148, 155, 0.1);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow-y: scroll;
  }
  .navbar_links .links {
    flex-direction: column;
    align-items: start !important;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }
  .navbar_links .links li {
    display: block !important;
    align-self: start !important;
  }
  .submenu {
    position: relative !important;
    display: block;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    left: 0 !important;
    box-shadow: none !important;
    align-items: start !important;
    width: 100%;
    overflow-y: scroll;
  }
  .submenu li {
    padding: 0 !important;
    border-bottom: none !important;
    align-self: baseline;
  }
  .submenu li a {
    color: rgba(229, 124, 21, 0.8);
  }
  .arrow {
    height: auto !important;
  }
  .link_nav--drop {
    text-align: left !important;
  }
}
.section1_2 {
  height: 60vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 100vw;
}
@media screen and (max-width: 900px) {
  .section1_2 {
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
  }
}
.section1_2 .div_info {
  width: 60%;
  padding-left: 3rem;
  padding-right: 3rem !important;
  background-color: rgba(229, 124, 21, 0.3);
}
@media screen and (max-width: 900px) {
  .section1_2 .div_info {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0;
  }
}
.section1_2 .container {
  height: 60vh;
  width: 40%;
  margin: 0;
  display: table;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .section1_2 .container {
    width: 100%;
    height: 25vh;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .section1_2 .container {
    height: 45vh;
  }
}

.parallax_supervisores {
  background-image: linear-gradient(rgba(35, 13, 102, 0.4), rgba(35, 13, 102, 0.4)), url("../../img/img_supervisores.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_codigo {
  background-image: linear-gradient(rgba(35, 13, 102, 0.4), rgba(35, 13, 102, 0.4)), url("../../img/img_codigo.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_estatutos {
  background-image: linear-gradient(rgba(35, 13, 102, 0.4), rgba(35, 13, 102, 0.4)), url("../../img/img_estatutos.webp");
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #e57c15;
  height: auto;
  padding-top: 2rem 3rem;
}
footer .div_footer--datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}
@media screen and (max-width: 600px) {
  footer .div_footer--datos {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 2rem;
  }
}
footer .div_footer--datos .div_contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  footer .div_footer--datos .div_contacto {
    padding-top: 2.5rem;
  }
}
footer .div_footer--datos .p_footer {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
footer .div_footer--datos .contacto_footer {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
footer .div_redes {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 1rem;
}
footer .div_redes .icono_redes {
  font-size: 4rem;
  color: white;
}
@media screen and (max-width: 600px) {
  footer .div_redes {
    align-self: center;
    align-items: center;
    padding-top: 3rem;
  }
}

* {
  padding: 0;
  margin: 0;
  font-display: swap;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
  background-color: #ffffff;
  overflow-x: hidden;
}

.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*# sourceMappingURL=style.css.map */
